<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <h4>Đăng nhập</h4>
    <form method="post" th:action="@{/my-login}">
        <input type="text" name="username"/>
        <input type="password" name="password"/>
        <button>Submit</button>
    </form>
</div>
</body>
</html>